html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
a {
  color: inherit;
}
a.siteLink,
a.siteLink:active,
a.siteLink:hover {
  color: #a070dd;
}

th,
td {
  padding-right: 40px;
  padding-left: 40px;
  text-align: left;
}

table {
  border: 2px solid black;
  padding: 20px;
  border-radius: 5px;
}
* {
  box-sizing: border-box;
}
