.transactionTable {
  border-collapse: collapse;
  padding: 10px;
  border: none;
}
.bid {
  background-color: #b8a7ce;
}

.sold {
  background-color: #adc9d6;
}

.offered {
  background-color: #d6adad;
}

.mint {
  background-color: #add6b8;
}
